<link rel="stylesheet" type="text/css" href="/css/calendar.css" >
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/calendar.js"></script>

<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-left">
        Your Past Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div id="calendar"></div>
<div class="test" style="padding-top: 0px;">
  <ul class="workout_info" id="workout_list">
    {{#each workouts}}
    <div class="workout_package">
      <div class="workout_name">{{this.name}}</div>
      <div class="workout_list">
        <ul>
          {{#each this.workoutInfo.exercises}}
              {{this.name}}
              <ul>
                <li>{{this.sets}} sets of {{this.reps}} X {{this.weight}} lb</li>
  <!--               <li>{{this.rest}} secs rest</li> -->
              </ul>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </ul>

</div>

<script type="text/javascript">
function getRandomColor() {
  var colors = ["event-warning", "event-success", "event-inverse", "event-info", "event-important", "event-special", ""];
  var index = getRandomInt(0, colors.length);
  return colors[index];
}

// Returns a random integer between min (included) and max (excluded)
// Using Math.round() will give you a non-uniform distribution!
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

function getTime(str) {
  var d = new Date(str);
  return d.getTime();
}

$(document).ready(function(){
    var prevWorkouts;
    var calendar;
    $.get("/workoutsCompleted").done(function(data){
      prevWorkouts = data;




      calendar = $("#calendar").calendar(
      {
        tmpl_path: "/assets/bower_components/bootstrap-calendar/tmpls/",
          events_source: function () { return [ {
            "title": "This is warning class event with very long title to check how it fits to evet in day view",
            "class": getRandomColor(),
            "start": 1478764800000, // Milliseconds
        },
        {
            "title": "Today is the day v2",
            "class": getRandomColor(),
            "start": 1478765800000, // Milliseconds
        },
        {
            "id": "532",
            "title": "This is inverse event",
            "class": getRandomColor(),
            "start": 1479369600000,
            "end":   1479369600000
        },
        {
            "id": "548",
            "title": "This is special event",
            "class": getRandomColor(),
            "start": 1478678400000,
            "end":   1478678400000
        },
        {
            "id": "295",
            "title": "Event 3",
            "class": getRandomColor(),
            "start": 1478678400000,
            "end":   1478678400000
        }
        ]; }
      });
    });

})
</script>