<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<style media="screen">
.workout-info{
    /*position: relative;*/
    /*background-image: url("/assets/wide-bench.jpg");*/
    background-size: cover;
    background-position: center;
    height: 15%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: .5px solid lightgrey;
    border-radius: 5px;
}

#whole_list {
    height: 88%;
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    overflow-y: scroll;
    position: absolute;
    list-style-type:none;
}

</style>
  <div class="navbar navbar-default navbar-fixed-top" id="navbar">

    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-center" style="margin-left: 70px;">
        {{name}}
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="test">
  <ul id="whole_list">
    {{#each workoutInfo.exercises}}
    <li class="workout-info">
      <div class="name-weight">
        {{this.name}} {{this.weight}}
      </div>
      <div class="reps-rest">
        : {{this.sets}}x{{this.reps}} 
      </div>

    </li>
    {{/each}}
  </ul>
</div>
  <div class="col-xs-4">
    <a href="/workout/{{name}}/playlist">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Confirm</button>
    </a>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <a href="/editWorkout/{{name}}">
      <button id="singlebutton" name="singlebutton" class="btn btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></button>
    </a>
  </div>
