<div class="container">
  <div class="col-xs-12">
    <h1>{{name}}</h1>
  </div>
  <ul>
    {{#each workoutInfo.exercises}}
    <li>{{this.name}}: {{this.sets}}x{{this.reps}} {{this.weight}}</li>
    {{/each}}
  </ul>
  <div class="col-xs-4">
    <a href="/workout/{{name}}/playlist">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Choose a Playlist!</button>
    </a>
  </div>
</div>
