<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="#">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="test">
  <ul class="workouts" id="whole_list">
    {{#each workouts}}

        <li class="each_workout" id="workouts_list-{{@index}}">
          <!-- <div class="container">
            <div class="row">
              <div class="col-xs-6 workout_name"><a href="/workoutInfo/{{this}}">{{this}}</a></div>
              <div class="col-xs-6 remove-btn"><label>Remove</label></div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <img src="/assets/shaggy.jpg" class="img-rounded"/>
              </div>
              <div class="col-xs-4">
                <img src="/assets/bears.jpg" class="img-rounded"/>
              </div>
              <div class="col-xs-4">
                <img src="/assets/manuel.jpg" class="img-rounded"/>
              </div>
            </div>
          </div> -->
          <a href="/workoutInfo/{{this}}"><label class="workout-label">{{this}}</label></a>
          <label class="remove-btn">x</label>
      </a>
    {{/each}}
  </ul>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4"><a href="/addWorkout"><button type="button" class="btn btn-info" id="add-exercise-btn">Add a new workout</button></a></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.remove-btn').click(function(){
        $(this).parent().remove();
      });
    }
  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-btn").click(function(){
      var exercises = ["Jumping Jacks", "Rowing Machine", "Squats", "Balance", "Insanity", "P90X"];
      console.log("add");
      var index = parseInt(Math.random() * exercises.length);
      var phrase = exercises.splice(index, 1);
      var $clone = $("#workouts_list-0").clone()
      $clone.find(".workout_name").text(phrase);
      $clone.find(".btn-success").attr("href", "/workoutInfo/"+phrase);
      $clone.appendTo("#whole_list");
      ListenerSuite.removeListener();
    })
  })
</script>
