<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
  <div class="navbar navbar-default navbar-fixed-top" id="navbar">

    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-center" style="margin-left: 70px;">
        {{name}}
      </div> 
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>  
    </div>
</div>
<div class="row" style="margin-top:50px;">
  <div class="col-xs-12">
    <ul class="list-group">
      {{#each workoutInfo.exercises}}
      <li class="list-group-item">{{this.name}}: {{this.sets}}x{{this.reps}} {{this.weight}}</li>
      {{/each}}
    </ul>
  </div>
</div>
  <div class="col-xs-4">
    <a href="/workout/{{name}}/playlist">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Choose a Playlist!</button>
    </a>
  </div>
</div>
