<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<link rel="stylesheet" type="text/css" href="/css/calendar.css" >
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/calendar.js"></script>

<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-left">
        Your Past Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div id="calendar"></div>
<div class="test" style="padding-top: 0px;">
  <ul class="workout_info" id="workout_list">
    {{#each workouts}}
    <div class="workout_package">
      <div class="workout_name">{{this.name}}</div>
      <div class="workout_list">
        <ul>
          {{#each this.workoutInfo.exercises}}
              {{this.name}}
              <ul>
                <li>{{this.sets}} sets of {{this.reps}} X {{this.weight}} lb</li>
  <!--               <li>{{this.rest}} secs rest</li> -->
              </ul>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </ul>

</div>

<script type="text/javascript">
$(document).ready(function(){
      var calendar = $("#calendar").calendar(
        {
            tmpl_path: "/assets/bower_components/bootstrap-calendar/tmpls/",
            events_source: function () { return []; }
        });
})
</script>